h1,h2{
    background-color: black;
    color: red;
    font-family: sans-serif;
    text-align: right;
}
p{
    color: white;
    background-color: black;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: right;
}
em{
    color: green;
    background-color: black;
}
.wrapper{
    background-color: black;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 10px;
}